@model BioSampleViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>BiologicalSample for @Model.burial.BurialId</h4>
<hr />

<form asp-for="@Model.bioSample" asp-action="Create">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="@Model.bioSample.Rack" class="control-label"></label>
        <input asp-for="@Model.bioSample.Rack" class="form-control" placeholder="Rack Number" />
        <span asp-validation-for="@Model.bioSample.Rack" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="@Model.bioSample.Notes" class="control-label"></label>
        <input asp-for="@Model.bioSample.Notes" class="form-control" placeholder="Notes" />
        <span asp-validation-for="@Model.bioSample.Notes" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="@Model.bioSample.Initials" class="control-label"></label>
        <input asp-for="@Model.bioSample.Initials" class="form-control" placeholder="Initials" />
        <span asp-validation-for="@Model.bioSample.Initials" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="@Model.bioSample.Date" class="control-label"></label>
        <input asp-for="@Model.bioSample.Date" class="form-control" placeholder="Date" />
        <span asp-validation-for="@Model.bioSample.Date" class="text-danger"></span>
    </div>

    <input type="hidden" asp-for="@Model.bioSample.BurialId" value="@Model.burial.BurialId" />

    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary" />
    </div>
</form>

<div>
    <a asp-action="RecordSpecificIndex" asp-route-burial="@Model.burial.BurialId">Back to Samples</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
