@model Intex2.Models.BiologicalSample

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>BiologicalSample</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rack)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rack)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.F3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.F3)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Bag)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Bag)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LowNs)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LowNs)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HighNs)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HighNs)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NorthOrSouth)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NorthOrSouth)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LowEw)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LowEw)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HighEw)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HighEw)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EastOrWest)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EastOrWest)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Area)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Area)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BurialNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BurialNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClusterNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClusterNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PreviouslySampled)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PreviouslySampled)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Notes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Notes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Initials)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Initials)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Burial)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Burial.BurialId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
