@model IEnumerable<Intex2.Models.BiologicalSample>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

@foreach (var sample in Model)
{
 @sample.Rack
    <div class="card text-center">
        <div class="card-header">Sample Rack: @sample.Rack</div>
        <div class="card-body">
            <h5 class="card-title">Notes</h5>
            <p class="card-text">
                @sample.Notes
            </p>
            <a class="btn btn-secondary" asp-controller="BioSampleCrud" asp-action="Edit" asp-route="@sample.BurialId">Edit</a>
        </div>
        <div class="card-footer text-muted">Sample Date: @sample.Date  Initials: @sample.Initials</div>
    </div>
}