@model IEnumerable<Intex2.Models.BiologicalSample>

@{ ViewData["Title"] = "Index";
                Layout = "~/Views/Shared/_Layout.cshtml";
    var fakeModel = Model.ToList();

    string printId = fakeModel[0].BurialId;

}
<h1>Biological Samples for @printId </h1>

<div class="row">
    @foreach (var sample in Model)
    {
<div class="card text-center shadow-sm col-md-3 m-1 p-1">
    <div class="card-header">
        <h5>Sample Rack: @sample.Rack</h5>
    </div>
    <div class="card-body">
        <h5 class="card-title">
            @sample.Notes
        </h5>
        <p class="card-text">
            Initials: @sample.Initials
        </p>
        <a class="btn btn-secondary" asp-controller="BioSampleCrud" asp-action="Edit" asp-route-id="@sample.BurialId">Edit</a>
    </div>
    <div class="card-footer text-muted">Date: @sample.Date </div>
</div>
                <br />}
</div>