@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager

@{
    ViewBag.Photo = "https://elasticbeanstalk-us-east-1-503379183917.s3.amazonaws.com/Photos/notfound.png";
}

@model BurialListViewModel

<style>
    body {
        background-color: #E9ECEF;
    }
</style>
<br />
@foreach (var mummy in Model.Burials)
{
    foreach (var x in Model.Photos)
    {
        if (mummy.BurialId == x.BurialId)
        {
            ViewBag.Photo = "https://elasticbeanstalk-us-east-1-503379183917.s3.amazonaws.com/Photos/" + x.PhotoId;
            break;
        }
    }
    <div class="card shadow mb-3" style="max-width: auto">
        <div class="row g-0">
            <div class="col-md-8">
                <div class="card-body">
                    <h2 class="card-title">@mummy.BurialId</h2>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item ">South to Head: @mummy.BurialSouthToHead</li>
                        <li class="list-group-item ">South to Feet: @mummy.BurialSouthToFeet</li>
                        <li class="list-group-item ">West to Head: @mummy.BurialWestToHead</li>
                        <li class="list-group-item ">West to Feet: @mummy.BurialWestToFeet</li>
                        <li class="list-group-item ">Length: @mummy.LengthM</li>
                        <li class="list-group-item ">Depth: @mummy.BurialDepth</li>
                    </ul>

                    <div class="row">
                        <a class="text-center btn btn-primary col-md-2 m-2" asp-area="" asp-route-id="@mummy.BurialId" asp-controller="BurialCrud" asp-action="Details">Details</a>

                        @if ((await AuthorizationService.AuthorizeAsync(User, "RequireAdministratorRole")).Succeeded)
                        {
                            <a class="text-center btn btn-secondary col-md-2 m-2" asp-controller="BurialCrud" asp-action="Edit" asp-route-id="@mummy.BurialId">Edit</a>
                        }

                        @if ((await AuthorizationService.AuthorizeAsync(User, "RequireAdministratorRole")).Succeeded)
                        {
                            <a class="text-center btn btn-danger col-md-2 m-2" asp-controller="BurialCrud" asp-action="Delete" asp-route-id="@mummy.BurialId">Delete</a>
                        }
                    </div>
                </div>
            </div>

            <div class=" mx-auto m-2 p-1">
                <img src="@ViewBag.Photo" ;
                     alt="..."
                     class="img-fluid"
                     width="300" />
            </div>
            @{
                ViewBag.Photo = "https://elasticbeanstalk-us-east-1-503379183917.s3.amazonaws.com/Photos/notfound.png";
            }
        </div>
    </div>
}

<div page-model="@Model.PagingInfo" page-action="Index" page-classes-enabled="true" page-class="btn"
     page-class-normal="btn-outline-dark"
     page-class-selected="btn-info"
     class="btn-group pull-right m-1">
</div>
<div>


    <form asp-action="Filtered" method="post">

        <div class="form-group">
            <label asp-for="@Model.FilterItems.Sex">Sex:</label>
            <input type="text" asp-for="@Model.FilterItems.Sex" />
            @*<select name="filter" class="form-control" asp-for="@x.Sex">
                    <option value="M">Male</option>
                    <option value="F">Female</option>
                    <option value="all">All</option>
                </select>*@
        </div>

        <div class="form-group">
            <label asp-for="@Model.FilterItems.Area">Area:</label>
            <input type="text" asp-for="@Model.FilterItems.Area">
        </div>

        <div class="form-group">
            <label asp-for="@Model.FilterItems.Length">Length:</label>
            <input type="text" asp-for="@Model.FilterItems.Length" value="'%' OR IS NULL">
        </div>

        <div class="form-group">
            <label asp-for="@Model.FilterItems.Depth">Depth:</label>
            <input type="text" asp-for="@Model.FilterItems.Depth" value="'%' OR IS NULL">
        </div>

        <button type="submit" class="btn btn-primary">Filter</button>
        <a asp-action="Index" asp-route-id="" asp-controller="BurialCrud" class="btn btn-primary">Reset</a>
    </form>
</div>