@model BurialListViewModel
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
    Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
<!--
    <div class="container m-5">
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>BurialId</th>
                    <th>Sex</th>
                </tr>
            </thead>
            <tbody>


                <tr>
                    <td>@*@mummy.BurialId</td>
                    <td>@mummy.Sex*@</td>
                </tr>
                }
            </tbody>
        </table>
    </div>

    -->

@foreach (var mummy in Model.Burials)
{
    <div class="card mb-3" style="max-width: auto">
        <div class="row g-0">
            <div class="col-md-8">
                <div class="card-body">
                    <h2 class="card-title">@mummy.BurialId</h2>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item ">South to Head: @mummy.BurialSouthToHead</li>
                        <li class="list-group-item ">South to Feet: @mummy.BurialSouthToFeet</li>
                        <li class="list-group-item ">West to Head: @mummy.BurialWestToHead</li>
                        <li class="list-group-item ">West to Feet: @mummy.BurialWestToFeet</li>
                        <li class="list-group-item ">Length: @mummy.LengthM</li>
                        <li class="list-group-item ">Depth: @mummy.BurialDepth</li>
                        <li class="list-group-item ">Burial Goods (Y/N): @mummy.Goods</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4">
                <img src="https://mdbootstrap.com/wp-content/uploads/2020/06/vertical.jpg"
                     alt="..."
                     class="img-fluid" />
            </div>
        </div>
        <a class="text-center btn btn-info col-5" asp-area="" asp-route-id="@mummy.BurialId" asp-controller="BurialCrud" asp-action="Details">Details</a>

    </div>
}

<div page-model="@Model.PagingInfo" page-action="Index" page-classes-enabled="true" page-class="btn"
     page-class-normal="btn-outline-dark"
     page-class-selected="btn-info"
     class="btn-group pull-right m-1">
</div>
