@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager

@model BurialListViewModel

<br />
@foreach (var mummy in Model.Burials)
{
    <div class="card mb-3" style="max-width: auto">
        <div class="row g-0">
            <div class="col-md-8">
                <div class="card-body">
                    <h2 class="card-title">@mummy.BurialId</h2>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item ">South to Head: @mummy.BurialSouthToHead</li>
                        <li class="list-group-item ">South to Feet: @mummy.BurialSouthToFeet</li>
                        <li class="list-group-item ">West to Head: @mummy.BurialWestToHead</li>
                        <li class="list-group-item ">West to Feet: @mummy.BurialWestToFeet</li>
                        <li class="list-group-item ">Length: @mummy.LengthM</li>
                        <li class="list-group-item ">Depth: @mummy.BurialDepth</li>
                    </ul>

                    <div class="row">
                        <a class="text-center btn btn-info col-md-2 m-2" asp-area="" asp-route-id="@mummy.BurialId" asp-controller="BurialCrud" asp-action="Details">Details</a>

                        @if ((await AuthorizationService.AuthorizeAsync(User, "RequireAdministratorRole")).Succeeded)
                        {
                            <a class="text-center btn btn-warning col-md-2 m-2" asp-controller="BurialCrud" asp-action="Edit" asp-route-id="@mummy.BurialId">Edit</a>
                        }

                        @if ((await AuthorizationService.AuthorizeAsync(User, "RequireAdministratorRole")).Succeeded)
                        {
                            <a class="text-center btn btn-danger col-md-2 m-2" asp-controller="BurialCrud" asp-action="Delete" asp-route-id="@mummy.BurialId">Delete</a>
                        }
                    </div>
                </div>
            </div>

            <div class="m-2 p-1">
                <img
                     src="https://elasticbeanstalk-us-east-1-503379183917.s3.amazonaws.com/Photos/DSCN0004.JPG"
                     alt="..."
                     class="img-fluid"
                     width="300"
                />
            </div>
        </div>
    </div>
}

<div page-model="@Model.PagingInfo" page-action="Index" page-classes-enabled="true" page-class="btn"
     page-class-normal="btn-outline-dark"
     page-class-selected="btn-info"
     class="btn-group pull-right m-1">
</div>