@model CarbonDatingViewModel

@{ ViewData["Title"] = "Index";

    Layout = "~/Views/Shared/_Layout.cshtml";

    string printId;
    if (Model.carbDateSamples.Count() > 0)
    {
        printId = "Carbon Dating Samples for " + Model.burial.BurialId;

    }
    else
    {
        printId = "There are no Samples for " + Model.burial.BurialId;
    } }
<br />

<div class="text-center">
    <h1>@printId </h1>
</div>
<hr />

@foreach (var sample in Model.carbDateSamples)
{
<div class="card shadow mb-3" style="max-width: auto">
    <div class="row g-0">
        <div class="col-md-8">
            <div class="card-body">
                <h2 class="card-title">Rack: @sample.Rack</h2>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item ">Tube Number: @sample.Tube</li>
                    <li class="list-group-item ">Description: @sample.Description</li>
                    <li class="list-group-item ">Size (ml): @sample.SizeMl</li>
                    <li class="list-group-item ">Foci: @sample.Foci</li>
                    <li class="list-group-item ">C14 Sample 2017: @sample.C14Sample2017</li>
                    <li class="list-group-item ">Location: @sample.Location</li>
                    <li class="list-group-item ">Questions: @sample.QuestionS</li>
                    <li class="list-group-item ">Conventional 14C age BP: @sample.Conventional14cAgeBp</li>
                    <li class="list-group-item ">14C Calendar Date: @sample._14cCalendarDate</li>
                    <li class="list-group-item ">Calibrated 95% Calendar Date Max: @sample.Calibrated95CalendarDateMax</li>
                    <li class="list-group-item ">Calibrated 95% Calendar Date MIN: @sample.Calibrated95CalendarDateMin</li>
                    <li class="list-group-item ">Calibrated 95% Calendar Date SPAN: @sample.Calibrated95CalendarDateSpan</li>
                    <li class="list-group-item ">Calibrated 95% Calendar Date AVG: @sample.Calibrated95CalendarDateAvg</li>
                    <li class="list-group-item ">Category: @sample.Category</li>
                    <li class="list-group-item ">Notes: @sample.Notes</li>

                </ul>

                <div class="row">

                    @if ((await AuthorizationService.AuthorizeAsync(User, "RequireAdministratorRole")).Succeeded)
                    {
                        <a class="col-md-2 m-1 p-1 btn btn-secondary" asp-controller="CarbonDatingCrud" asp-action="Edit" asp-route-id="@sample.Id">Edit</a>}

                    @if ((await AuthorizationService.AuthorizeAsync(User, "RequireAdministratorRole")).Succeeded)
                    {
                        <a class="text-center btn btn-danger col-md-2 m-1 p-1" asp-controller="CarbonDatingCrud" asp-action="Delete" asp-route-id="@sample.Id">Delete</a>}
                </div>
            </div>
        </div>
    </div>
</div>}

<hr />
<div class="row">
    <a class="btn btn-secondary m-1" asp-controller="BurialCrud" asp-action="Details" asp-route-id="@Model.burial.BurialId">Back to Burial Details</a>

    <a class="btn btn-primary m-1" asp-action="create" asp-route-id="@Model.burial.BurialId">Create New Sample</a>
</div>


<br />
