@model PhotosViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    string printId;
    if (Model.Photos.Count() != 0)
    {
        printId = "Photos for " + Model.Burial.BurialId;

    }
    else
    {
        printId = "There are no photos for " + Model.Burial.BurialId;
    }
    }

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

<div>
    <h1>@printId</h1>
    <hr />
    <dl class="row">
        @foreach (var x in Model.Photos)
        {

            ViewBag.PhotoId = "https://elasticbeanstalk-us-east-1-891046424969.s3.amazonaws.com/Photos/" + @x.PhotoId;

            <dt class="col-sm-10">
                <img src="@ViewBag.PhotoId" width="500" />
            </dt>
            <br />
            <dd><a class="btn btn-danger" asp-action="Delete" asp-route-id="@x.Id">Delete</a> </dd>
        }
    </dl>
</div>
<div>
    <a class="btn btn-primary"asp-controller="BurialCrud"asp-action="Details"asp-route-id="@Model.Burial.BurialId">Back to Details</a>
</div>
</body>
</html>
